[AWS]
KEY=XXXXXXXXXXXXXXXXXXXX
SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
REGION=us-west-2

[IAM]
REDSHIFT_ROLE_ARN=arn:aws:iam::xxxxxxxxxxxx:xxxx/xxxxxxxxxxxxxx

[S3]
LOG_DATA=s3://udacity-dend/log_data
LOG_JSON_PATH=s3://udacity-dend/log_json_path.json
SONG_DATA=s3://udacity-dend/song_data

[REDSHIFT]
ENDPOINT=xxxxxxx-redshift-cluster.xxxxxxxxxxxx.us-west-2.redshift.amazonaws.com
PORT=5439
DATABASE=dwh
USER=dwhuser
PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxx